*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.box{
    width: 400px;
    /*height: 400px;*/
    background-color: rgb(43, 195, 226);
    padding: 60px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(238, 239, 239);

}

label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

input{
    height: 40px;
    width: 100%;
    padding:20px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

}
button{
    cursor: pointer;
}