span{
    color:chartreuse
}

/* *{
    margin: 0px;
    padding: 0px;
}*/

h1{
    background-color: rgb(219, 14, 171);
    color:white ;
    width: 450px;
    padding: 15px;
    margin: 20px;
    /*display:inline*/
}

/*span{
    background-color: antiquewhite;
}*/
h2{
    background-color: aqua;
    width: 250px;
    padding: 15px;
    margin: 20px;
    margin-top: 10px;
    /*display:inline*/


}
span{
    height: 200px;
    width: 300px;
}
h3{
    background-color: rgb(188, 219, 14);
    color:white ;
    width: 250px;
    padding: 15px;
    margin: 20px;
    border: 10px solid black;
    box-sizing: border-box;
}
h4{
    background-color: rgb(188, 219, 14);
    color:white ;
    width: 250px;
    padding: 15px;
    margin: 20px;
    border: 10px solid black;
    box-sizing: content-box;
}