h1{
    background-color: aqua;
    height: 40px;
    width: 460px;

   /* border: width 5px;
    border-style:dashed; */

    border: 3px dashed ;
    padding: 10px;
    margin: 10px;
   
    /* padding: 10px 20px 30px 40px;
    top right bottom left */

    /*padding: 20px 40px
    top-bottom & right left*/

}

h2{
    background-color: rgb(195, 226, 43);
    border: 3px solid red;
    width: 250px;
    padding: 10px;
    margin: 10px;
}

p{
    background-color: aquamarine;
    padding: 10px;
    border: 3px solid blue;
    margin: 15  px;
}