h1{
    background-color:aquamarine;
    width: 300px;
    padding: 15px;
    position: relative;
    left: 500px;
    /* bottom 50px;
    top,right are also use*/

}
.classA{
    background-color: aqua;
}

#firstId{
    background-color: bisque;
}

h2{
    background-color: aqua !important;
    width: 350px;
    margin: 10px;
    padding-left: 10px;
}

h3{
    background-color: darkmagenta;
    color: aliceblue;
    position: fixed;
    top: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}

h4{
    background-color:darkgoldenrod;
    position:sticky;
    top: 15px;
}

p{
    background-color: chartreuse;
    position: absolute;
    left: 50px;
    top:0px;
    margin:0px;
    z-index: 10;
}