.container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: aqua;
}

/*@media screen and (max-width:900px) {
    .container{
        height: 300px;
        width: 300px;
        font-size: 30px;
        background-color:deeppink;
    }
    
}



@media screen and (max-width:600px) {
    .container{
        height: 300px;
        width: 300px;
        font-size: 30px;
        background-color: darkmagenta;
    }
    
}
*/
@media screen and (min-width:600px) {
    .container{
        background-color: dodgerblue;
        font-size: 60px;
    }
    
}

@media screen and (min-width:900px) {
    .container{
        background-color:green;
        font-size: 60px;
    }
    
}