#container{
    height: 200px;
    width: 300px;
    background-color:yellow;
    position: relative;
}

.box{
    background-color: rgba(21, 21, 243, 0.945);
    box-sizing: border-box;
}

.first,.third{
    height: 85px;
    width: 85px; 
}

.third{
    position: absolute;
    bottom: 0px;
}

.second, .fourth{
    height: 85px;
    width: 170px;
    position: absolute;
}

.second{
    top: 0px;
    right: 0px;
}

.fourth{
    bottom: 0px;
    right:0px ;
}